<div class="map-section p-80 d-md-block d-none">
    <div class="container">
        <!-- section head -->
        <div class="section-head">
            <h2>We are around you everywhere</h2>
            <div class="lines">
                <span></span>
            </div>
            <p>We have several offices around the world full of people, working to provide you an amazing experience
                with
                Insuranto.</p>
        </div>
        <!-- content -->
        <div class="content">
            <img src="../../../../assets/user/images/pages/about-us/map.png" class="img-fluid" id="map-img" alt="world-map">
            <!-- flags contain -->
            <div class="f-c">
                <div class="flag e01-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/abkhazia.svg" class="img-fluid"
                         alt="abkhazia-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.ab</a>
                    </div>
                </div>
                <div class="flag e02-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/afghanistan.svg" class="img-fluid"
                         alt="afghanistan-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.af</a>
                    </div>
                </div>
                <div class="flag e03-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/aland-islands.svg" class="img-fluid"
                         alt="aland-islands-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.is</a>
                    </div>
                </div>
                <div class="flag e04-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/australia.svg" class="img-fluid"
                         alt="australia-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.au</a>
                    </div>
                </div>
                <div class="flag e05-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/bahrain.svg" class="img-fluid"
                         alt="bahrain-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.ba</a>
                    </div>
                </div>
                <div class="flag e06-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/belgium.svg" class="img-fluid"
                         alt="belgium-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.be</a>
                    </div>
                </div>
                <div class="flag e07-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/bolivia.svg" class="img-fluid"
                         alt="bolivia-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.be</a>
                    </div>
                </div>
                <div class="flag e08-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/brazil.svg" class="img-fluid"
                         alt="brazil-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.br</a>
                    </div>
                </div>
                <div class="flag e09-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/cameroon.svg" class="img-fluid"
                         alt="cameroon-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.ca</a>
                    </div>
                </div>
                <div class="flag e10-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/chad.svg" class="img-fluid" alt="chad-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.ch</a>
                    </div>
                </div>
                <div class="flag e11-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/france.svg" class="img-fluid"
                         alt="france-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.fr</a>
                    </div>
                </div>
                <div class="flag e12-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/germany.svg" class="img-fluid"
                         alt="germany-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.ge</a>
                    </div>
                </div>
                <div class="flag e13-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/india.svg" class="img-fluid" alt="india-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.id</a>
                    </div>
                </div>
                <div class="flag e14-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/italy.svg" class="img-fluid" alt="italy-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.it</a>
                    </div>
                </div>
                <div class="flag e15-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/japan.svg" class="img-fluid" alt="japan-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.Insuranto.com.ja</a>
                    </div>
                </div>
                <div class="flag e16-f">
                    <img src="../../../../assets/user/images/pages/about-us/flags/kosovo.svg" class="img-fluid"
                         alt="kosovo-flag">
                    <span class="flag-border"></span> <!-- animated border around flag -->
                    <div class="flag-info">
                        <a href="#">www.vrocket.com.ko</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
