/* -- :: Our Team :: -- */
.our-team .item {
    position: relative;
    width: 150px;
    margin: 0 auto 30px;
}
.our-team .item > img {
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.our-team .item > span {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    background: rgba(3, 27, 78, .7);
    color: #fff;
}
.our-team .item:hover > span {
    opacity: 1;
}
/* Card Contain */
.our-team .item .card-c {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 60px);
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 14;
}
.our-team .item .card-c.show {
    display: -webkit-box;
    display: flex;
}
/* Team Card */
.our-team .item .team-card {
    position: relative;
    top: -60px;
    padding: 20px 20px 10px;
    border-radius: 5px;
    border: 1px solid var(--thBorderColor);
    background: #fff;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
}
.our-team .item .team-card::after,
.our-team .item .team-card::before {
    content: '';
    position: absolute;
    top: 210px;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--thBorderColor);
}
.our-team .item .team-card::before {
    top: auto;
    bottom: 55px
}
.our-team .item .team-card img {
    max-width: 170px;
    margin-bottom: 40px;
    border-radius: 50%;
    border: 10px solid var(--thBorderColor);
    box-shadow: 0 5px 10px 0 rgba(3, 27, 78, 0.06);
}
/* Elements Contain */
.our-team .item .team-card .e-c {
    position: relative;
    max-height: 200px;
    overflow-y: scroll;
}
.our-team .item .team-card .e-c::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
.our-team .item .team-card .e-c::-webkit-scrollbar-thumb {
    background-color: #3b4d56;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.our-team .item .team-card .e-c::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.our-team .item .team-card .element {
    padding: 5px 15px;
    margin-bottom: 5px;
    color: var(--typeColor);
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--thBorderColor);
}
.our-team .item .team-card .element span {
    text-transform: capitalize;
    font-size: 16px;
    display: inline-block;
}
.our-team .item .team-card .element span.title {
    font-weight: bold;
    min-width: 60px;
}
.our-team .item .team-card .element span.dot {
    min-width: 15px;
}
.our-team .item .team-card .element span.des {
    min-width: 150px;
}
/* Close Button */
.our-team .item .team-card button {
    margin-top: 25px;
    background: #ed5153;
    color: #fff;
    padding: 8px 16px;
    border: none;
    font-size: 13px;
    min-width: 100px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: background-color 150ms ease, color 150ms ease;
    transition: background-color 150ms ease, color 150ms ease;
}
.our-team .item .team-card button:hover {
    background: #ff5355;
}
/* --------------------------------- */

/* -- :: Media Query :: -- */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* -- :: Our Team :: -- */
    .our-team .item > img {
        -webkit-transition: -webkit-filter .2s ease-in-out;
        transition: -webkit-filter .2s ease-in-out;
        transition: filter .2s ease-in-out;
        transition: filter .2s ease-in-out, -webkit-filter .2s ease-in-out;
    }
    .our-team .item > img:hover {
        -webkit-filter: brightness(.8);
        filter: brightness(.8);
    }
    .our-team .item > span {
        display: none;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* -- :: Section 3 :: -- */
    /* Right Side */
    .section-3 .content .right-side {
        display: none;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {


    /* -- :: Our Team :: -- */
    .our-team .item {
        width: auto;
    }
    .our-team .row > div:nth-child(odd) {
        text-align: right;
    }
    .our-team .row > div:not(odd) {
        text-align: left;
    }

}
