<div class="our-team p-80 bg-2">
    <div class="container">
        <!-- head -->
        <div class="section-head">
            <h2>Meet Our Team</h2>
            <div class="lines">
                <span></span>
            </div>
            <p>Don't let rheir smiling faces foll you; these folks are about to stage a full-on tech revolution.<br>They're
                determind to bring powe back to the people, giving businesses the keys to drive the global
                economy.<br>Get to
                know whi's behind this brazen plan to change the world, one small business at a time.</p>
        </div>
        <!-- content -->
        <div class="content text-center">
            <!-- row -->
            <div class="row justify-content-center">
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/01.jpg" class="img-fluid" alt="man">
                        <span>Radi Nour</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/01.jpg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Radi Nour Ezz</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/02.jpeg" class="img-fluid" alt="man">
                        <span>Jhon Dee</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/02.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Jhon Dee</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/03.jpeg" class="img-fluid" alt="man">
                        <span>Khalid Said</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/03.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Khalid Said</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/04.jpeg" class="img-fluid" alt="man">
                        <span>Mart Joe</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/04.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Mart Joe</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/05.jpeg" class="img-fluid" alt="man">
                        <span>jack Fen</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/05.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">jack Fen</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/06.jpeg" class="img-fluid" alt="man">
                        <span>Justin Mike</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/06.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Justin Mike</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/07.jpeg" class="img-fluid" alt="man">
                        <span>Sami Rag</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/07.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Sami Rag</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/05.jpeg" class="img-fluid" alt="man">
                        <span>Dani Said</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/05.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Dani Said</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/01.jpg" class="img-fluid" alt="man">
                        <span>Radi Nour</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/01.jpg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Radi Nour</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/02.jpeg" class="img-fluid" alt="man">
                        <span>Jhon Dee</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/02.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Jhon Dee</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/03.jpeg" class="img-fluid" alt="man">
                        <span>Khalid Said</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/03.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Khalid Said</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/04.jpeg" class="img-fluid" alt="man">
                        <span>Mart Joe</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/04.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Mart Joe</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/05.jpeg" class="img-fluid" alt="man">
                        <span>jack Fen</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/05.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">jack Fen</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/06.jpeg" class="img-fluid" alt="man">
                        <span>Justin Mike</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/06.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Justin Mike</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/07.jpeg" class="img-fluid" alt="man">
                        <span>Sami Rag</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/07.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Sami Rag</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CEO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col -->
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    <!-- item -->
                    <div class="item">
                        <img src="../../../../assets/user/images/pages/about-us/our-team/05.jpeg" class="img-fluid" alt="man">
                        <span>Dani Said</span>
                        <!-- Card Contain -->
                        <div class="card-c">
                            <!-- Team Card -->
                            <div class="team-card">
                                <img src="../../../../assets/user/images/pages/about-us/our-team/05.jpeg" class="img-fluid"
                                     alt="man">
                                <!-- Elements Contain -->
                                <div class="e-c">
                                    <div class="element text-left">
                                        <span class="title">name</span>
                                        <span class="dot">:</span>
                                        <span class="des">Dani Said</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">job</span>
                                        <span class="dot">:</span>
                                        <span class="des">CFO</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title" title="year of employment">YOE</span>
                                        <span class="dot">:</span>
                                        <span class="des">2015</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">from</span>
                                        <span class="dot">:</span>
                                        <span class="des">Egypt</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">age</span>
                                        <span class="dot">:</span>
                                        <span class="des">24</span>
                                    </div>
                                    <div class="element text-left">
                                        <span class="title">Gender</span>
                                        <span class="dot">:</span>
                                        <span class="des">Male</span>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
