/* -- :: Main Contain :: -- */
.main-contain {
    position: relative;
}
.main-contain span {
    position: absolute;
    left: 0;
    top: 0;
    height: 900px;
    width: 100%;
    z-index: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 70%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    background: #3b71de;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(40%, #003eaa),color-stop(60%, #004ec2),color-stop(80%, #0060df),color-stop(90%, #0080ff),to(#00c7ff));
    background: linear-gradient(to bottom,#003eaa 40%,#004ec2 60%,#0060df 80%,#0080ff 90%,#00c7ff 100%);
    opacity: .6;
}
/* --------------------------------- */





/* -- :: Media Query :: -- */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* -- :: Main Contain :: -- */
    .main-contain span{
        display: none;
    }
    }

