<footer>
  <div class="container">
    <!-- Links -->
    <div class="links">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-3">
          <!-- Content -->
          <div class="content">
            <p class="head mb-md-3 mb-1">Insurance</p>
            <p class="mb-1">
              <a [routerLink]="['/life-insurance']">life insurance</a>
            </p>
            <p class="mb-1">
              <a [routerLink]="['/health-insurance']">health insurance</a>
            </p>
            <p class="mb-1">
              <a [routerLink]="['/motor-insurance']">motor insurance</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">home insurance</a>
            </p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-3">
          <!-- Content -->
          <div class="content">
            <p class="head mb-md-3 mb-1">company</p>
            <p class="mb-1">
              <a [routerLink]="['/about-us']">about us</a>
            </p>
            <!--<p class="mb-1">
              <a href="./pages/terms.html">terms</a>
            </p>
            <p class="mb-1">
              <a href="./pages/privacy.html">privacy</a>
            </p>-->
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-3">
          <!-- Content -->
          <div class="content">
            <p class="head mb-md-3 mb-1">useful links</p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">your account</a>
            </p>
            <!--<p class="mb-1">
              <a href="#">documentation</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">ICANN Confirmation</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">Cookies</a>
            </p>-->
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-3">
          <!-- Content -->
          <div class="content">
            <p class="head mb-md-3 mb-1">information</p>
            <p class="mb-1">
              <a [routerLink]="['/contact-us']">contact us</a>
            </p>
            <!--<p class="mb-1">
              <a href="./pages/coming-soon.html">payment method</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">compare</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">reviews</a>
            </p>-->
          </div>
        </div>
        <!-- col -->
        <!--<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-3">
          &lt;!&ndash; Content &ndash;&gt;
          <div class="content">
            <p class="head mb-md-3 mb-1">domains</p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">domain checker</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">domain transfer</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">free domain</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">buy domain</a>
            </p>
          </div>
        </div>-->
        <!-- col -->
        <!--<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-3">
          &lt;!&ndash; Content &ndash;&gt;
          <div class="content">
            <p class="head mb-md-3 mb-1">why VRocket?</p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">top 5 reasons</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">Customer Testimonials</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">Service Guarantee</a>
            </p>
            <p class="mb-1">
              <a href="./pages/coming-soon.html">Awards</a>
            </p>
          </div>
        </div>-->
      </div>
    </div>
    <!-- Copyright -->
    <div class="copyright">
      <!-- row -->
      <div class="row justify-content-between">
        <!-- col -->
        <div class="col-lg-9 text-md-left text-center">
          <p class="mb-0">&copy; 2021 VRocket</p>
          <p class="comment mb-0">Developed By
            <a [routerLink]="['/home']">VRocket</a>
          </p>
        </div>
        <!-- col -->
        <div class="col-lg-3">
          <!-- Content -->
          <div class="content d-flex align-items-center justify-content-md-end justify-content-center">
            <!-- Social Links -->
            <ul class="pl-0 mb-0">
              <!-- Linked In -->
              <li class="mr-2">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <!-- Twitter -->
              <li class="mr-2">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <!-- Facebook -->
              <li class="mr-2">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

            </ul>
            <!-- Language Menu -->
            <!--<div class="language-menu ml-2">
              <button id="lang-btn">
                EN <i class="fa fa-angle-down ml-2 angle"></i>
              </button>
              <div class="menu text-center">
                <div class="head">change language</div>
                <a href="#">
                  <i class="fa fa-check"></i> Arabic
                </a>
                <a href="#" class="selected">
                  <i class="fa fa-check"></i> English
                </a>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
