<ng-container *ngIf="loading">
  <preloader></preloader>
</ng-container>
<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0">
    <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
      <div class="me-7 mb-4">
        <div class="
            symbol symbol-100px symbol-lg-160px symbol-fixed
            position-relative
          ">
          <img src="./assets/media/avatars/150-2.jpg" alt="Metronic" />
          <div class="
              position-absolute
              translate-middle
              bottom-0
              start-100
              mb-6
              bg-success
              rounded-circle
              border border-4 border-white
              h-20px
              w-20px
            "></div>
        </div>
      </div>

      <div class="flex-grow-1">
        <div class="
            d-flex
            justify-content-between
            align-items-start
            flex-wrap
            mb-2
          ">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <a class="
                  text-gray-800 text-hover-primary
                  fs-2
                  fw-bolder
                  me-1
                  cursor-pointer
                ">
                {{customer.name}}
              </a>
              <a class="cursor-pointer">
                <span [inlineSVG]="
                    './assets/media/icons/duotune/general/gen026.svg'
                  " class="svg-icon svg-icon-1 svg-icon-primary"></span>
              </a>
              <a class="
                  btn btn-sm btn-light-success
                  fw-bolder
                  ms-2
                  fs-8
                  py-1
                  px-3
                  cursor-pointer
                " data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
                Registered Customer
              </a>
            </div>

            <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
              <a class="
                  d-flex
                  align-items-center
                  text-gray-400 text-hover-primary
                  me-5
                  mb-2
                  cursor-pointer
                ">
                <span [inlineSVG]="
                    './assets/media/icons/duotune/communication/com006.svg'
                  " class="svg-icon svg-icon-4 me-1"></span>
                {{customer.occupation}}
              </a>
              <a class="
                  d-flex
                  align-items-center
                  text-gray-400 text-hover-primary
                  me-5
                  mb-2
                  cursor-pointer
                ">
                <span [inlineSVG]="
                    './assets/media/icons/duotune/general/gen018.svg'
                  " class="svg-icon svg-icon-4 me-1"></span>
                {{customer.street}}
              </a>
              <a class="
                  d-flex
                  align-items-center
                  text-gray-400 text-hover-primary
                  mb-2
                  cursor-pointer
                ">
                <span [inlineSVG]="
                    './assets/media/icons/duotune/communication/com011.svg'
                  " class="svg-icon svg-icon-4 me-1"></span>
                {{customer.state}}
              </a>
            </div>
          </div>


        </div>

        <div class="d-flex flex-wrap flex-stack">
          <div class="d-flex flex-column flex-grow-1 pe-8">
            <div class="d-flex flex-wrap">
            </div>
          </div>

          <div class="
              d-flex
              align-items-center
              w-200px w-sm-300px
              flex-column
              mt-3
            ">



          </div>
        </div>
      </div>
    </div>

    <div class="d-flex overflow-auto h-55px">
      <ul class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x
          border-transparent
          fs-5
          fw-bolder
          flex-nowrap
        ">
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/customer/profile" routerLinkActive="active">
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary me-6" routerLink="/customer/profile/update-profile">
            Update profile
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>

    <a routerLink="/customer/profile/update-profile" class="btn btn-primary align-self-center">
      Edit Profile
    </a>
  </div>

  <div class="card-body p-9">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Full Name</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark">{{customer.name}}</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Date of birth</label>

      <div class="col-lg-8 fv-row">
        <span class="fw-bold fs-6">{{customer.birthday|date:'dd/MM/yyyy'}}</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">
        Zipcode
        <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active"></i>
      </label>

      <div class="col-lg-8 d-flex align-items-center">
        <span class="fw-bolder fs-6 me-2">{{customer.zipCode}}</span>

        <span class="badge badge-success">Verified</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Street</label>

      <div class="col-lg-8">
        <a href="#" class="fw-bold fs-6 text-dark text-hover-primary">
          {{customer.street}}
        </a>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">
        Occupation
        <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Country of origination"></i>
      </label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark">{{customer.occupation}}</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Citizen ID</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark">{{customer.citizenId}}</span>
      </div>
    </div>

    <div class="row mb-10">
      <label class="col-lg-4 fw-bold text-muted">Allow Changes</label>

      <div class="col-lg-8">
        <span class="fw-bold fs-6">Yes</span>
      </div>
    </div>

    <div class="
        notice
        d-flex
        bg-light-warning
        rounded
        border-warning border border-dashed
        p-6
      ">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen044.svg'"
        class="svg-icon svg-icon-2tx svg-icon-warning me-4"></span>
      <div class="d-flex flex-stack flex-grow-1">
        <div class="fw-bold">
          <h4 class="text-gray-800 fw-bolder">We need your attention!</h4>
          <div class="fs-6 text-gray-600">
            Your payment was declined. To start using tools, please
            <a class="fw-bolder" routerLink="/admin/crafted/account/settings">
              {{ " " }}
              Add Payment Method
            </a>
            .
          </div>
        </div>
      </div>
    </div>
  </div>
</div>