<ng-container *ngIf="loading">
  <preloader></preloader>
</ng-container>
<!-- :: Navbar -->
<nav-bar></nav-bar>
<!-- :: Header -->
<!-- {{lifePolicy|json}} -->
<header>
  <div class="container">
    <!-- contain -->
    <div class="contain text-center">
      <h1>{{type||''}}</h1>
      <p>{{desc||''}}</p>
    </div>
  </div>
</header>

<!-- :: Pricing Table -->
<div class="pricing-table-2 p-80" id="section-1">
  <div class="container">
    <!-- Table -->
    <h2 class="table-title text-center">Choose Your Life Insurance Policy</h2>
    <h2 class="table-subtitle text-center">Every policy comes with an appealing interest rate.</h2>
    <!-- Contain -->
    <div class="contain">
      <ul class="table-body p-0">
        <ng-container *ngFor="let item of lifePolicy;let i = index">
          <li [ngClass]="{'first-card': i==0,'second-card hot-card':i==1,'third-card':i==2}">
            <!-- card name -->
            <div class="card-name text-center">
              <h3>{{item?.name||''}} package</h3>
            </div>
            <ng-container *ngIf="i !=1;else special">
              <div class="offer">
                <div class="old-price">{{item?.amount *1.3|currency}}</div>
                <div class="save">save 30%</div>
              </div>
            </ng-container>
            <ng-template #special>
              <div class="offer">
                <div class="old-price">{{item?.amount*1.5|currency}}</div>
                <div class="save">save 50%</div>
              </div>
            </ng-template>

            <div class="card-price">
              <span class="currency">$</span>
              <span class="amount" style="font-size: 50px;">{{item?.amount|number:'1.2-2'}}</span>
              <span class="duration">/mo</span>
            </div>
            <div class="card-features">
              <ul class="p-0">
                <li>
                  <i class="fa fa-check"></i>
                  <b>coverage for {{item?.term||''}}</b>
                  <span> years</span>
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  <b>{{item?.insuranceTypeName||''}}</b>
                  <span> (long term)</span>
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  <b>Total amount:</b>
                  <span><b> {{item?.amount*12|currency}}</b></span>
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  <b>Interest rate: </b>
                  <span><b> {{item?.interestRate||''}}</b>%</span>
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  <b>Apply down below</b>
                </li>
              </ul>
            </div>
            <div class="buy-card">
              <button (click)="onBuy(item)">get started</button>
            </div>
          </li>
        </ng-container>

      </ul>
    </div>
    <!-- Cards -->
    <div class="cards" style="text-align: center;">
      <img src="../../../../assets/user/images/logoFile/2560px-PayPal_logo.svg.png" alt="" width="220px">
    </div>
  </div>
</div>

<!-- :: Features -->
<div class="features p-80 bg-2">
  <div class="container">
    <!-- Head -->
    <div class="section-head">
      <h2>Why Choose VRocket</h2>
      <div class="lines">
        <span></span>
      </div>
      <p>Get the insurance policy you want with minimum fuss.</p>
    </div>
    <!-- row -->
    <div class="row child-mb-30">
      <!-- col -->
      <div class="col-xl-4 col-lg-6 col-12">
        <!-- box -->
        <div class="box d-flex align-items-start">

          <img src="../../../../assets/user/images//icons/blue/rocket.svg" class="img-fluid mr-4" alt="image">
          <!-- text contain -->
          <div class="t-c">
            <h4 class="mb-3">Great Coverage</h4>
            <p class="mb-0">We offer insurance policies with high coverage at low cost.</p>
          </div>
        </div>
      </div>
      <!-- col -->
      <div class="col-xl-4 col-lg-6 col-12">
        <!-- box -->
        <div class="box d-flex align-items-start">
          <img src="../../../../assets/user/images/icons/blue/trophy.svg" class="img-fluid mr-4" alt="image">
          <!-- text contain -->
          <div class="t-c">
            <h4 class="mb-3">No Hidden Fees</h4>
            <p class="mb-0">We guarantee that there would be no additional fees for any insurance policy.</p>
          </div>
        </div>
      </div>
      <!-- col -->
      <!--<div class="col-xl-4 col-lg-6 col-12">
          &lt;!&ndash; box &ndash;&gt;
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/computing-cloud.svg" class="img-fluid mr-4" alt="image">
            &lt;!&ndash; text contain &ndash;&gt;
            <div class="t-c">
              <h4 class="mb-3">Only Pay For What You Need</h4>
              <p class="mb-0">It’s hard to believe anyone would want to harm your website, but they do.
                Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart
                suspicious activity
                and deflect DDoS attacks.</p>
            </div>
          </div>
        </div>-->
      <!-- col -->
      <div class="col-xl-4 col-lg-6 col-12">
        <!-- box -->
        <div class="box d-flex align-items-start">
          <img src="../../../../assets/user/images/icons/blue/wealth.svg" class="img-fluid mr-4" alt="image">
          <!-- text contain -->
          <div class="t-c">
            <h4 class="mb-3">Investment Opportunity</h4>
            <p class="mb-0">Each insurance policy comes with an appealing interest rate.</p>
          </div>
        </div>
      </div>
      <!-- col -->
      <!--<div class="col-xl-4 col-lg-6 col-12">
          &lt;!&ndash; box &ndash;&gt;
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/customer-service.svg" class="img-fluid mr-4" alt="image"
            >
            &lt;!&ndash; text contain &ndash;&gt;
            <div class="t-c">
              <h4 class="mb-3">Priority Support</h4>
              <p class="mb-0">It’s hard to believe anyone would want to harm your website, but they do.
                Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart
                suspicious activity
                and deflect DDoS attacks.</p>
            </div>
          </div>
        </div>-->
      <!-- col -->
      <!--<div class="col-xl-4 col-lg-6 col-12">
          &lt;!&ndash; box &ndash;&gt;
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/mail-box.svg" class="img-fluid mr-4" alt="image">
            &lt;!&ndash; text contain &ndash;&gt;
            <div class="t-c">
              <h4 class="mb-3">Instance Approval</h4>
              <p class="mb-0">It’s hard to believe anyone would want to harm your website, but they do.
                Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart
                suspicious activity
                and deflect DDoS attacks.</p>
            </div>
          </div>
        </div>-->
    </div>
    <div class="collapse-items collapse" id="collapse-items-2">
      <!-- row -->
      <div class="row child-mb-30">
        <!-- col -->
        <div class="col-xl-4 col-lg-6 col-12">
          <!-- box -->
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/tool-box.svg" class="img-fluid mr-4" alt="image">
            <!-- text contain -->
            <div class="t-c">
              <h4 class="mb-3">24/7 Support</h4>
              <p class="mb-0">Our customer support team is on the job 24/7 to assist you with any requests.</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-xl-4 col-lg-6 col-12">
          <!-- box -->
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/settings.svg" class="img-fluid mr-4" alt="image">
            <!-- text contain -->
            <div class="t-c">
              <h4 class="mb-3">Instant Approval</h4>
              <p class="mb-0">No need to wait for days to get your application . With VRocket, you can get instant
                approval.</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-xl-4 col-lg-6 col-12">
          <!-- box -->
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/server-03.svg" class="img-fluid mr-4" alt="image">
            <!-- text contain -->
            <div class="t-c">
              <h4 class="mb-3">Server Management?</h4>
              <p class="mb-0">It’s hard to believe anyone would want to harm your website, but they
                do.
                Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart
                suspicious activity
                and deflect DDoS attacks.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- :: features -->

<!-- :: Newsletter Bar -->
<newsletter-bar></newsletter-bar>