<div class="section-3">
    <div class="container">
        <!-- content -->
        <div class="content">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-lg-6 left-side">
                    <div class="text-contain text-center  p-80">
                        <h3>Start saving now!</h3>
                        <p>All in one web hosting &amp; domain name from</p>
                        <div class="number">
                            <span class="currency">$</span>
                            <span class="amount">4</span>
                            <div class="s-b">
                                <span class="top-text">45</span>
                                <span class="duration">/mo</span>
                            </div>
                        </div>
                        <button class="btn-fill-green">GET STARTED NOW</button>
                    </div>
                </div>
                <!-- col -->
                <div class="col-lg-6 right-side">
                    <div class="text-contain float-right">
                        <h2>special<br>deal</h2>
                        <p class="mb-0">Limited time offer!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
