<ng-container *ngIf="loading">
  <preloader></preloader>
</ng-container>
<!-- :: Navbar -->
<nav-bar></nav-bar>
<!-- :: Main Contain -->
<div class="main-contain text-center">
  <div class="container">
    <!-- Logo Contain -->
    <logo-container></logo-container>
    <!-- sign Up Card -->
    <div class="sign-up-card text-center mx-auto">
      <!-- Name -->
      <h5 class="name">Create Account</h5>
      <!-- Sign Up Form -->
      <form id="sign-up-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <!-- Input Group -->
        <div class="input-group">
          <input class="th-input w-100" type="email" aria-label="email-input" placeholder="Email address" required
            formControlName="email">
        </div>
        <!-- Input Group -->
        <div class="input-group">
          <input class="th-input w-100" type="text" aria-label="user-name-input" placeholder="Username" required
            formControlName="name">

        </div>
        <!-- Input Group -->
        <div class="input-group focused">
          <input class="th-input w-100" type="password" aria-label="password-input" id="password-input"
            placeholder="Password" required formControlName="password">
          <button type="button" class="password-btn" id="password-btn">
            <i class="fa fa-eye"></i>
          </button>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="sub-btn">sign up</button>
        <!-- Or -->
        <!--<div class="or-wrapper">
          <div class="or-div">or</div>
        </div>-->
        <!-- Input Group - Social Sign Up -->
        <!--<div class="input-group social-sign-up">
          <a href="#" class="mb-min">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" aria-hidden="true"
                 class="mr-3">
              <title>Google</title>
              <g fill="none" fill-rule="evenodd">
                <path fill="#4285F4"
                      d="M17.64 9.2045c0-.6381-.0573-1.2518-.1636-1.8409H9v3.4814h4.8436c-.2086 1.125-.8427 2.0782-1.7959 2.7164v2.2581h2.9087c1.7018-1.5668 2.6836-3.874 2.6836-6.615z">
                </path>
                <path fill="#34A853"
                      d="M9 18c2.43 0 4.4673-.806 5.9564-2.1805l-2.9087-2.2581c-.8059.54-1.8368.859-3.0477.859-2.344 0-4.3282-1.5831-5.036-3.7104H.9574v2.3318C2.4382 15.9832 5.4818 18 9 18z">
                </path>
                <path fill="#FBBC05"
                      d="M3.964 10.71c-.18-.54-.2822-1.1168-.2822-1.71s.1023-1.17.2823-1.71V4.9582H.9573A8.9965 8.9965 0 0 0 0 9c0 1.4523.3477 2.8268.9573 4.0418L3.964 10.71z">
                </path>
                <path fill="#EA4335"
                      d="M9 3.5795c1.3214 0 2.5077.4541 3.4405 1.346l2.5813-2.5814C13.4632.8918 11.426 0 9 0 5.4818 0 2.4382 2.0168.9573 4.9582L3.964 7.29C4.6718 5.1627 6.6559 3.5795 9 3.5795z">
                </path>
              </g>
            </svg>
            <span>Sign up with Google</span>
          </a>
          <a href="#" class="face-sign-up">
            <i class="fa fa-facebook mr-3"></i>
            <span>Sign up with Facebook</span>
          </a>
        </div>-->
        <!-- Terms & Privacy -->
        <!--<div class="terms-privacy">
          <p class="mb-0">By signing up, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy
            Policy</a></p>
        </div>-->
      </form>
    </div>
    <a [routerLink]="['/login']" class="sign-up-link">Already have an account?<b> Log In</b></a>
  </div>
</div>

<!-- :: Newsletter Bar -->
<newsletter-bar></newsletter-bar>

<!-- :: Footer -->
<app-footer></app-footer>