<ng-container *ngIf="loading">
  <preloader></preloader>
</ng-container>
<div id="login-page">


  <!-- :: Preloader -->
  <!--<preloader></preloader>-->

  <!-- :: NavBar -->
  <!--<nav-bar></nav-bar>-->

  <!-- :: Main Contain -->
  <div class="main-contain text-center">
    <div class="container">
      <!-- Logo Contain -->
      <logo-container></logo-container>
      <!-- Login Card -->
      <div class="login-card text-center mx-auto">
        <!-- Name -->
        <h5 class="name">{{credential.requestType==='forgot-password' ?'Reset Password':'Activate Account'}}</h5>
        <!-- Login Form -->
        <form id="login-form" [formGroup]="formRequest" (ngSubmit)="onSubmit()">
          <!-- Input Group -->
          <div class="input-group focused">
            <input class="th-input w-100" type="password" aria-label="password-input" id="password-input"
              placeholder="Password" required formControlName="password">
            <button type="button" class="password-btn" id="password-btn">
              <i class="fa fa-eye"></i>
            </button>
          </div>
          <!-- Submit Button -->
          <button type="submit" class="sub-btn">Reset Password</button>
        </form>
      </div>
    </div>
  </div>

  <!-- :: Footer -->
  <!--<app-footer></app-footer>-->

</div>