<ng-container *ngIf="loading">
  <preloader></preloader>
</ng-container>

<div id="index-page">

  <!-- :: Header -->
  <header>
    <div class="container">
      <!-- Row -->
      <div class="row align-items-center">
        <!-- Col -->
        <div class="col-12">
          <!-- Text Contain -->
          <div class="t-c text-center">
            <h5 class="mb-0 text-uppercase">pick your insurance policy today</h5>
            <h1 class="mb-4 text-uppercase">you're in good hands</h1>
            <p class="mb-5 mx-auto">At VRocket, you can get the best insurance coverage at lower cost as quickly as
              possible.</p>
            <a [routerLink]="['life-insurance']" class="th-btn">Get Started</a>
          </div>
        </div>
      </div>

    </div>
  </header>

  <!-- :: Domain Name -->
  <div class="domain-name">
    <div class="container">
      <!-- form -->
      <form action="#">
        <!-- row -->
        <div class="row text-xl-left text-center justify-content-xl-start justify-content-center">
          <!-- col -->
          <div class="col-xl-2 mb-xl-0 mb-4">
            <h3>Search Your Insurance Policy Now!</h3>
          </div>
          <!-- col -->
          <div class="col-xl-8 col-12 mb-xl-0 mb-4">
            <input type="search" name="domain_name" class="th-input w-100 mb-3" id="domain_name"
              placeholder="Enter the insurance type you're looking for" autocomplete="off">
          </div>
          <!-- col -->
          <div class="col-xl-2">
            <button type="submit" class="btn-fill-blue">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- :: Features -->
  <div class="features p-80 bg-2">
    <div class="container">
      <!-- Head -->
      <div class="section-head">
        <h2>Why Choose VRocket</h2>
        <div class="lines">
          <span></span>
        </div>
        <p>Get the insurance policy you want with minimum fuss.</p>
      </div>
      <!-- row -->
      <div class="row child-mb-30">
        <!-- col -->
        <div class="col-xl-4 col-lg-6 col-12">
          <!-- box -->
          <div class="box d-flex align-items-start">

            <img src="../../../../assets/user/images//icons/blue/rocket.svg" class="img-fluid mr-4" alt="image">
            <!-- text contain -->
            <div class="t-c">
              <h4 class="mb-3">Great Coverage</h4>
              <p class="mb-0">We offer insurance policies with high coverage at low cost.</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-xl-4 col-lg-6 col-12">
          <!-- box -->
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/trophy.svg" class="img-fluid mr-4" alt="image">
            <!-- text contain -->
            <div class="t-c">
              <h4 class="mb-3">No Hidden Fees</h4>
              <p class="mb-0">We guarantee that there would be no additional fees for any insurance policy.</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <!--<div class="col-xl-4 col-lg-6 col-12">
          &lt;!&ndash; box &ndash;&gt;
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/computing-cloud.svg" class="img-fluid mr-4" alt="image">
            &lt;!&ndash; text contain &ndash;&gt;
            <div class="t-c">
              <h4 class="mb-3">Only Pay For What You Need</h4>
              <p class="mb-0">It’s hard to believe anyone would want to harm your website, but they do.
                Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart
                suspicious activity
                and deflect DDoS attacks.</p>
            </div>
          </div>
        </div>-->
        <!-- col -->
        <div class="col-xl-4 col-lg-6 col-12">
          <!-- box -->
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/wealth.svg" class="img-fluid mr-4" alt="image">
            <!-- text contain -->
            <div class="t-c">
              <h4 class="mb-3">Investment Opportunity</h4>
              <p class="mb-0">Each insurance policy comes with an appealing interest rate.</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <!--<div class="col-xl-4 col-lg-6 col-12">
          &lt;!&ndash; box &ndash;&gt;
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/customer-service.svg" class="img-fluid mr-4" alt="image"
            >
            &lt;!&ndash; text contain &ndash;&gt;
            <div class="t-c">
              <h4 class="mb-3">Priority Support</h4>
              <p class="mb-0">It’s hard to believe anyone would want to harm your website, but they do.
                Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart
                suspicious activity
                and deflect DDoS attacks.</p>
            </div>
          </div>
        </div>-->
        <!-- col -->
        <!--<div class="col-xl-4 col-lg-6 col-12">
          &lt;!&ndash; box &ndash;&gt;
          <div class="box d-flex align-items-start">
            <img src="../../../../assets/user/images/icons/blue/mail-box.svg" class="img-fluid mr-4" alt="image">
            &lt;!&ndash; text contain &ndash;&gt;
            <div class="t-c">
              <h4 class="mb-3">Instance Approval</h4>
              <p class="mb-0">It’s hard to believe anyone would want to harm your website, but they do.
                Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart
                suspicious activity
                and deflect DDoS attacks.</p>
            </div>
          </div>
        </div>-->
      </div>
      <div class="collapse-items collapse" id="collapse-items-2">
        <!-- row -->
        <div class="row child-mb-30">
          <!-- col -->
          <div class="col-xl-4 col-lg-6 col-12">
            <!-- box -->
            <div class="box d-flex align-items-start">
              <img src="../../../../assets/user/images/icons/blue/tool-box.svg" class="img-fluid mr-4" alt="image">
              <!-- text contain -->
              <div class="t-c">
                <h4 class="mb-3">24/7 Support</h4>
                <p class="mb-0">Our customer support team is on the job 24/7 to assist you with any requests.</p>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-xl-4 col-lg-6 col-12">
            <!-- box -->
            <div class="box d-flex align-items-start">
              <img src="../../../../assets/user/images/icons/blue/settings.svg" class="img-fluid mr-4" alt="image">
              <!-- text contain -->
              <div class="t-c">
                <h4 class="mb-3">Instant Approval</h4>
                <p class="mb-0">No need to wait for days to get your application . With VRocket, you can get instant
                  approval.</p>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-xl-4 col-lg-6 col-12">
            <!-- box -->
            <div class="box d-flex align-items-start">
              <img src="../../../../assets/user/images/icons/blue/server-03.svg" class="img-fluid mr-4" alt="image">
              <!-- text contain -->
              <div class="t-c">
                <h4 class="mb-3">Server Management?</h4>
                <p class="mb-0">It’s hard to believe anyone would want to harm your website, but they
                  do.
                  Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart
                  suspicious activity
                  and deflect DDoS attacks.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- button contain -->
      <div class="btn-c text-center">
        <button class="btn-outline" data-toggle="collapse" data-target="#collapse-items-2">See All Features
        </button>
      </div>
    </div>
  </div>

  <!-- :: Hosting -->
  <div class="hosting p-80-50">
    <div class="container">
      <!-- Host Item -->
      <div class="host-items-contain active--section" id="monthly-s">
        <!-- Shared -->
        <div class="host-item" id="shared">
          <!-- Host Item Head -->
          <div class="item-head text-center">
            <h3>Three ways to keep
              more of your hard-earned dollars</h3>
            <p class="mb-0"> Our shared service delivers a powerful, proven platform</p>
          </div>
          <!-- Cards -->
          <div class="cards">
            <!-- Content -->
            <div class="content">
              <div class="row justify-content-center">
                <!-- Card Properties -->
                <!-- Card -->
                <div class="col-lg-3 col-md-6 p-lg-0">
                  <!-- Left Card -->
                  <div class="card l-card">
                    <!-- Card Body -->
                    <div class="card-body">

                      <!-- Price -->
                      <h6 class="card-price  text-center">Life Insurance
                      </h6>
                      <hr>
                      <!-- Properties -->
                      <ul class="fa-ul">
                        <li><span class="d-lg-none"></span>Coverage For 2 Years</li>
                        <li><span class="d-lg-none"></span>Life Insurance (Long Term)</li>
                        <li><span class="d-lg-none"></span>Auto discounts & savings</li>
                      </ul>
                      <!-- Order Button -->
                      <a [routerLink]="['/life-insurance',{type:1}]" class="th-btn btn-fill-blue w-100">Order now</a>
                    </div>
                  </div>
                </div>
                <!-- Card -->
                <div class="col-lg-3 col-md-6 p-lg-0">
                  <!-- Recommend Card -->
                  <div class="card c-card recommend">
                    <!-- Card Head -->
                    <div class="card-head text-center">Recommended</div>
                    <!-- Card Body -->
                    <div class="card-body">

                      <!-- Price -->
                      <h6 class="card-price  text-center">Medical Insurance
                      </h6>
                      <hr>
                      <!-- Properties -->
                      <ul class="fa-ul">
                        <li><span class="d-lg-none"></span>Coverage For 3 Years</li>
                        <li><span class="d-lg-none"></span>Medical Insurance (Long Term)</li>
                        <li><span class="d-lg-none"></span>Auto discounts & savings</li>
                      </ul>
                      <!-- Order Button -->
                      <a [routerLink]="['/life-insurance',{type:2}]" class="th-btn btn-fill-blue w-100">Order now</a>
                    </div>
                  </div>
                </div>
                <!-- Card -->
                <div class="col-lg-3 col-md-6 pl-lg-0">
                  <!-- Right Card -->
                  <div class="card r-card">
                    <!-- Card Body -->
                    <div class="card-body">

                      <!-- Price -->
                      <h6 class="card-price  text-center">Motor Insurance
                      </h6>
                      <hr>
                      <!-- Properties -->
                      <ul class="fa-ul">
                        <li><span class="d-lg-none"></span>Coverage For 5 Years</li>
                        <li><span class="d-lg-none"></span>Motor Insurance (Long Term)</li>
                        <li><span class="d-lg-none"></span>Auto discounts & savings</li>
                      </ul>
                      <!-- Order Button -->
                      <a [routerLink]="['/life-insurance',{type:3}]" class="th-btn btn-fill-blue w-100">Order now</a>
                    </div>
                  </div>
                </div>
                <!-- Card -->
                <div class="col-lg-3 col-md-6 pl-lg-0  ">
                  <!-- Right Card -->
                  <div class="card c-card recommend">
                    <!-- Card Head -->
                    <div class="card-head text-center">Recommended</div>
                    <!-- Card Body -->
                    <div class="card-body">

                      <!-- Price -->
                      <h6 class="card-price  text-center">Home Insurance
                      </h6>
                      <hr>
                      <!-- Properties -->
                      <ul class="fa-ul">
                        <li><span class="d-lg-none"></span>Coverage For 4 Years</li>
                        <li><span class="d-lg-none"></span>Home Insurance (Long Term)</li>
                        <li><span class="d-lg-none"></span>Auto discounts & savings</li>
                      </ul>
                      <!-- Order Button -->
                      <a [routerLink]="['/life-insurance',{type:4}]" class="th-btn btn-fill-blue w-100">Order now</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>


  <!-- :: Features -->
  <div class="features p-80">
    <div class="container">
      <!-- Head -->
      <div class="section-head">
        <h2>VRocket Innovation</h2>
        <div class="lines">
          <span></span>
        </div>
        <p>We believe progress happens when people feel secure</p>
      </div>
      <!-- row -->
      <div class="row child-mb-30">
        <!-- col -->
        <div class="col-xl-4 col-lg-6 col-12">
          <!-- box -->
          <div class="box d-flex align-items-start">
            <img src="./../../../../assets/user/images/icons/blue/server.svg" class="img-fluid mr-4" alt="image">
            <!-- text contain -->
            <div class="t-c">
              <h4 class="mb-3">Building a truly inclusive workplace</h4>
              <p class="mb-0">Our people are our most important asset, so we have created an environment where
                creativity, inclusion and innovation have a real impact. In attracting top talent, and engaging and
                retaining our employees, we strive to be a global employer of choice.</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-xl-4 col-lg-6 col-12">
          <!-- box -->
          <div class="box d-flex align-items-start">
            <img src="./../../../../assets/user/images/icons/blue/controls.svg" class="img-fluid mr-4" alt="image">
            <!-- text contain -->
            <div class="t-c">
              <h4 class="mb-3">Come work with us</h4>
              <p class="mb-0">At VRocket, we believe that nurturing your individual passions can create an organization
                unparalleled in its ability to meet the needs of our customers and the future.</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-xl-4 col-lg-6 col-12">
          <!-- box -->
          <div class="box d-flex align-items-start">
            <img src="./../../../../assets/user/images/icons/blue/delivery.svg" class="img-fluid mr-4" alt="image">
            <!-- text contain -->
            <div class="t-c">
              <h4 class="mb-3">Corporate Sustainability</h4>
              <p class="mb-0">At VRocket, we are committed to being Environmentally conscious and a force for
                Social good, while operating with the highest standards of Governance (ESG). In our latest ESG review,
                learn how we deliver on this commitment with examples and performance metrics from across the business.
              </p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


  <!-- :: About Us -->
  <div class="about-us">
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-lg-6 col-md-7 ml-auto">
          <!-- text contain -->
          <div class="t-c text-md-left text-center">
            <h3 class="mb-4">Why go with VRocket?</h3>
            <p class="mb-4 cap">Because we know that even the best technology is only as good as the people
              behind it. That’s why we offer expert, 24/7 phone support, plus a lot more.</p>
            <p class="mb-5 comment">Call our technical support team at +123 4 567 8910.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- :: Section X -->
    <div class="se-x">
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-lg-4 col-12">
            <!-- item -->
            <div class="item align-items-start text-center">
              <i class="fa fa-level-up mb-3 d-inline-flex align-items-center justify-content-center"></i>
              <div class="text-center">
                <h6 class="mb-lg-3 mb-2">Life Insurance</h6>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                  excepturi consectetur quod, nulla saepe.</p>
                <a href="#" class="d-lg-flex d-inline-block align-items-center justify-content-center">
                  <span class="d-lg-none d-inline-block">Read More</span>
                  <i class="fa fa-arrow-right ml-lg-0 ml-1 d-lg-inline-flex"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-12">
            <!-- item -->
            <div class="item align-items-start text-center">
              <i class="fa fa-amazon mb-3 d-inline-flex align-items-center justify-content-center"></i>
              <div class="text-center">
                <h6 class="mb-lg-3 mb-2">Home Insurance</h6>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                  excepturi consectetur quod, nulla saepe.</p>
                <a href="#" class="d-lg-flex d-inline-block align-items-center justify-content-center">
                  <span class="d-lg-none d-inline-block">Read More</span>
                  <i class="fa fa-arrow-right ml-lg-0 ml-1 d-lg-inline-flex"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-12">
            <!-- item -->
            <div class="item align-items-start text-center">
              <i class="fa fa-joomla mb-3 d-inline-flex align-items-center justify-content-center"></i>
              <div class="text-center">
                <h6 class="mb-lg-3 mb-2">Medical Insurance</h6>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                  excepturi consectetur quod, nulla saepe.</p>
                <a href="#" class="d-lg-flex d-inline-block align-items-center justify-content-center">
                  <span class="d-lg-none d-inline-block">Read More</span>
                  <i class="fa fa-arrow-right ml-lg-0 ml-1 d-lg-inline-flex"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- :: Section XI -->
    <div class="se-xi p-80">
      <div class="container">
        <!-- Head -->
        <div class="section-head">
          <h2>Meet our team</h2>
          <div class="lines">
            <span></span>
          </div>

        </div>

        <!-- row -->
        <div class="row justify-content-center">
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center">
              <img src="./../../../../assets/user/images/char/01.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">Osama Bakri</h5>
              <h6 class="mb-0">Founder and CEO</h6>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center">
              <img src="./../../../../assets/user/images/char/02.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">Jhone Dee</h5>
              <h6 class="mb-0">Backend Developer</h6>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center">
              <img src="./../../../../assets/user/images/char/03.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">Alex Gichuru</h5>
              <h6 class="mb-0">VP Global Delivery</h6>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center">
              <img src="./../../../../assets/user/images/char/04.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">Loic Juillard</h5>
              <h6 class="mb-0">Director, Service Delivery</h6>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center">
              <img src="./../../../../assets/user/images/char/05.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">Ken Wairagu</h5>
              <h6 class="mb-0">Sr. Director of Finance</h6>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center">
              <img src="./../../../../assets/user/images/char/06.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">Isaac Oates</h5>
              <h6 class="mb-0">Chief People Officer</h6>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center">
              <img src="./../../../../assets/user/images/char/07.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">Jason Whitman</h5>
              <h6 class="mb-0">Vice President of Customer Success</h6>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center">
              <img src="./../../../../assets/user/images/char/08.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">Matthew Tom-Wolverton</h5>
              <h6 class="mb-0">Sr. Vice President of Marketing</h6>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center mb-sm-0">
              <img src="./../../../../assets/user/images/char/09.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">David Feinberg</h5>
              <h6 class="mb-0">Vice President of Engineering</h6>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- item -->
            <div class="item text-center mb-0">
              <img src="./../../../../assets/user/images/char/010.jpg" class="img-fluid mb-3" alt="image">
              <h5 class="mb-1 text-uppercase">Mario Springer</h5>
              <h6 class="mb-0">Vice President of Engineering</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>