<ng-container *ngIf="loading">
  <preloader></preloader>
</ng-container>

<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Insurance Type Details</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" [formGroup]="updateProfile" (ngSubmit)="saveSettings()" class="form">
      <div class="card-body border-top p-9">

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Name</label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" formControlName="name" />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Description</label>
          <div class="col-lg-8 fv-row">
            <textarea name="description" cols="93" rows="10" formControlName="description" style="    background-color: #F5F8FA;
            border-color: #F5F8FA;"></textarea>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="submit" class="btn btn-primary">
          <ng-container>Save Changes</ng-container>

        </button>
      </div>
    </form>
  </div>
</div>