<div class="history p-80-50">
  <div class="container">
    <!-- head -->
    <div class="section-head">
      <h2 class="mx-auto">Our History</h2>
      <div class="lines">
        <span></span>
      </div>
      <p>​Over the past 100 years, VRocket Insurance has been committed to helping people preserve and protect
        what they earn, build, own and cherish. As we look to the future, we remember a century’s worth of milestones
        made possible by our employees, partners and most importantly our customers.</p>
    </div>
    <!-- Content -->
    <div class="content text-center">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-lg-3 col-md-4 col-6">
          <!-- item -->
          <div class="item">
            <div class="img-c d-inline-flex align-items-center justify-content-center">
              <img src="../../../../assets/user/images/icons/blue/rocket.svg" class="img-fluid" alt="startup">
            </div>
            <h4 class="mb-2">June 2004</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-3 col-md-4 col-6">
          <!-- item -->
          <div class="item">
            <div class="img-c d-inline-flex align-items-center justify-content-center">
              <img src="../../../../assets/user/images/icons/blue/networking.svg" class="img-fluid" alt="networking">
            </div>
            <h4 class="mb-2">Aug 2006</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-3 col-md-4 col-6">
          <!-- item -->
          <div class="item">
            <div class="img-c d-inline-flex align-items-center justify-content-center">
              <img src="../../../../assets/user/images/icons/blue/discussion.svg" class="img-fluid" alt="discussion">
            </div>
            <h4 class="mb-2">Dec 2008</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-3 col-md-4 col-6">
          <!-- item -->
          <div class="item">
            <div class="img-c d-inline-flex align-items-center justify-content-center">
              <img src="../../../../assets/user/images/icons/blue/crowdfunding.svg" class="img-fluid"
                alt="crowdfunding">
            </div>
            <h4 class="mb-2">April 2010</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-3 col-md-4 col-6">
          <!-- item -->
          <div class="item">
            <div class="img-c d-inline-flex align-items-center justify-content-center">
              <img src="../../../../assets/user/images/icons/blue/profit.svg" class="img-fluid" alt="profit">
            </div>
            <h4 class="mb-2">Oct 2011</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-3 col-md-4 col-6">
          <!-- item -->
          <div class="item">
            <div class="img-c d-inline-flex align-items-center justify-content-center">
              <img src="../../../../assets/user/images/icons/blue/jigsaw.svg" class="img-fluid" alt="jigsaw">
            </div>
            <h4 class="mb-2">Nov 2014</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-3 col-md-4 col-6">
          <!-- item -->
          <div class="item">
            <div class="img-c d-inline-flex align-items-center justify-content-center">
              <img src="../../../../assets/user/images/icons/blue/library.svg" class="img-fluid" alt="library">
            </div>
            <h4 class="mb-2">May 2016</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-3 col-md-4 col-6">
          <!-- item -->
          <div class="item">
            <div class="img-c d-inline-flex align-items-center justify-content-center">
              <img src="../../../../assets/user/images/icons/blue/success.svg" class="img-fluid" alt="success">
            </div>
            <h4 class="mb-2">April 2018</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>