<div class="newsletter">
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="d-flex align-items-center justify-content-lg-start justify-content-center">
                    <i class="fa fa-envelope-open-o mr-3 d-lg-block d-none"></i>
                    <div>
                        <h3 class="mb-0">Subscribe To Our Newsletter</h3>
                        <p class="mb-0">Stay in touch with us to get latest news and discount coupons</p>
                    </div>
                </div>
            </div>
            <!-- col -->
            <div class="col-lg-6">
                <form action="#" class="d-flex align-items-center">
                    <input type="email" class="th-input w-100" placeholder="Enter Your Email Adress..." autocomplete="off" required>
                    <button type="submit" class="btn-fill-gray">Subscribe Now!</button>
                </form>
            </div>
        </div>
    </div>
</div>
