<!-- :: FAQ Section -->
<div class="faqs p-80 bg-2">
    <div class="container">
        <!-- FAQs Head -->
        <div class="section-head">
            <h2>Frequently asked questions</h2>
            <div class="lines">
                <span></span>
            </div>
            <p>Get the answers to frequently asked questions about our hosting service.</p>
        </div>
        <!-- FAQs Content -->
        <div class="faqs-content">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-6">
                    <!-- item -->
                    <div class="item">
                        <h5 class="mb-3">What are the different types of web hosting options VRocket offers?</h5>
                        <p class="mb-0">VRocket offers multiple website hosting options to fit the various needs and budgets of our customers. Shared Hosting, Cloud Hosting, VPS Hosting, and Dedicated Hosting are our standard options, however we also offer specialized hosting for specific website building applications like WordPress and WooCommerce. Each platform is built on reliable, high-performance servers and is supported by our 24/7 expert support teams.<a href="#">All domains</a></p>
                    </div>

                    <!-- item -->
                    <div class="item">
                        <h5 class="mb-3">What type of customer support does VRocket offer with their web hosting?</h5>
                        <p class="mb-0">VRocket offers 24/7 professional customer support with all of our web hosting plans for no additional cost. You can call or chat with us at any time and a dedicated support rep will assist you with any inquiry or concern you may have. Our support is available for all website hosting plan types, so no matter what platform you need, know that we are here to help you every step of the way. For customers looking for WordPress design or functionality support, we offer WP Live. This premium service starts at $29 per month and gives you access to our WordPress technical support team. They can assist with everything from selecting a theme, to design, to even plugin development questions.</p>
                    </div>

                    <!-- item -->
                    <div class="item">
                        <h5 class="mb-3">Which domain sould i buy?</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cum quis soluta voluptate, nam cupiditate corporis temporibus optio iure alias illum velit officiis accusantium tempora dolores, incidunt itaque maxime. Neque.<a href="#">All domains</a></p>
                    </div>
                </div>
                <!-- col -->
                <div class="col-md-6">
                    <!-- item -->
                    <div class="item">
                        <h5 class="mb-3">What are the different types of web hosting options VRocket offers?</h5>
                        <p class="mb-0">VRocket offers multiple website hosting options to fit the various needs and budgets of our customers. Shared Hosting, Cloud Hosting, VPS Hosting, and Dedicated Hosting are our standard options, however we also offer specialized hosting for specific website building applications like WordPress and WooCommerce. Each platform is built on reliable, high-performance servers and is supported by our 24/7 expert support teams.<a href="#">All domains</a></p>
                    </div>

                    <!-- item -->
                    <div class="item">
                        <h5 class="mb-3">What type of customer support does VRocket offer with their web hosting?</h5>
                        <p class="mb-0">VRocket offers 24/7 professional customer support with all of our web hosting plans for no additional cost. You can call or chat with us at any time and a dedicated support rep will assist you with any inquiry or concern you may have. Our support is available for all website hosting plan types, so no matter what platform you need, know that we are here to help you every step of the way. For customers looking for WordPress design or functionality support, we offer WP Live. This premium service starts at $29 per month and gives you access to our WordPress technical support team. They can assist with everything from selecting a theme, to design, to even plugin development questions.</p>
                    </div>

                    <!-- item -->
                    <div class="item">
                        <h5 class="mb-3">Which domain sould i buy?</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cum quis soluta voluptate, nam cupiditate corporis temporibus optio iure alias illum velit officiis accusantium tempora dolores, incidunt itaque maxime. Neque.<a href="#">All domains</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
