<ng-container *ngIf="loading">
  <preloader></preloader>
</ng-container>
<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Member Credential</span>
    <span class="text-muted mt-1 fw-bold fs-7">Over {{count1}} new members</span>
  </h3>
  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-2"></span>
    </button>
    <!-- begin::Menu 2 -->
    <app-dropdown-menu2></app-dropdown-menu2>
    <!-- end::Menu 2 -->
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="ps-4 min-w-300px rounded-start">Id</th>
          <th class="min-w-125px">Email</th>
          <th class="min-w-125px">Status</th>
          <th class="min-w-200px">RoleId</th>
          <th class="min-w-200px">RoleName</th>
          <th class="min-w-150px">ActivationCode</th>
          <th class="min-w-250px text-end rounded-end"></th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <ng-container *ngFor="let credentail of tbCredentials">
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-50px me-5">
                  <span class="symbol-label bg-light">
                    <img src="./assets/media/svg/avatars/001-boy.svg" class="h-75 align-self-end" alt="" />
                  </span>
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    {{credentail.id}}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">

                  </span>
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{credentail.email}}
              </a>
              <span class="text-muted fw-bold text-muted d-block fs-7"></span>
            </td>
            <td>
              <span class="badge badge-light-success fs-7 fw-bold">{{credentail.status}}</span>
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{credentail.roleId}}
              </a>
              <span class="text-muted fw-bold text-muted d-block fs-7">

              </span>
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{credentail.roleName}}
              </a>
              <span class="text-muted fw-bold text-muted d-block fs-7">
              </span>
            </td>
            <td>
              <span class="badge badge-light-primary fs-7 fw-bold">{{credentail.activationCode}}</span>
            </td>
            <td class="text-end">
              <a href="#" class="
                btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm
                px-4
                me-2
              ">
                View
              </a>
              <a href="#" class="
                btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm
                px-4
              ">
                Edit
              </a>
            </td>

          <tr>
          </tr>
        </ng-container>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->